@model CodeBlog.Models.CodeTable

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Create", "CodeTables", FormMethod.Post, new { @enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenCode, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.TenCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnhMinhHoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileimg_anhminhhoa" class="btn btn-danger" required/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnhMinhHoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileimg_anhxemthem" onchange="LoadFile(event)" multiple required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-3" id="chon_anh">

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaTheLoai, "MaTheLoai", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaTheLoai", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaTheLoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Ngon Ngu</span>
            <div class="col-md-10">
                <select class="form-control" id="them_ngonngu" multiple="multiple" name="MaNgonNgu">
                    @Html.Action("dsNgonNgu", "CodeTables")
                </select>
            </div>
            <script>
                $("#them_ngonngu").select2({
                    placeholder: 'Nhập ngôn ngữ (tối đa 3 ngôn ngữ)..',
                    maximumSelectionLength: 3,
                    allowClear: true
                });
            </script>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LinkTai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LinkTai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LinkTai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTaNgan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTaNgan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTaNgan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTaChiTiet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="ckeditor" name="MoTaChiTiet"></textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HuongDanCaiDat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="ckeditor" name="HuongDanCaiDat"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    var LoadFile = function (event) {
        var files = event.target.files;
        if (files.length > 10) {
            alert("Tối đa 10 ảnh!");
            return;
        }
        for (var i = 0; i < files.length; i++) {
            $("#chon_anh").append("<img src='" + URL.createObjectURL(event.target.files[i]) + "' /><br />");
        }
    }
</script>