@model CodeBlog.Models.CodeTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CodeTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhMinhHoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhMinhHoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuotXem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuotXem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuotYeuThich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuotYeuThich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuotDanhGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuotDanhGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuotTai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuotTai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkTai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkTai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaNgan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaNgan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaChiTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaChiTiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnhCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnhCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HuongDanCaiDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HuongDanCaiDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminTable.TenHienThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminTable.TenHienThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDungTable.TenHienThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDungTable.TenHienThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheLoaiTable.TheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoaiTable.TheLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
