@using CodeBlog.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<TinTucTable>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
</style>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index">Trang chủ</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#" id="title_tin_cong_nghe" onclick="window.location.reload()">@ViewBag.Title</a></li>
                <li><a href="#" id="kq_tin_cong_nghe">Kết quả tìm được: @ViewBag.ketquatimkiem</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-right: 6%">
                <li style="width: 133%">
                    <div style="margin-top: 8px;">
                        <input type="search" class="form-control" placeholder="Nhập từ khóa..." id="timkiem_tincongnghe" value="@ViewBag.tukhoa"/>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div id="search_newsTechnology">
            <div class="col-lg-9">
                <div>
                    @foreach (var item in Model)
                    {
                        <div class="blog-articla-grid" style="margin-top: 0">
                            <div class="blog-articla-grid-pic">
                                <a href="bsingle.html"><img src="~/Content/images/image_tintuc/@item.AnhMinhHoa" alt="@item.TenTinTuc" height="130" style="margin-top: 0" /></a>
                            </div>
                            <div class="blog-articla-grid-info" style="padding-top: 0px;padding-left: 30px;margin-top: -11px">
                                <h3><a href="bsingle.html">@item.TenTinTuc</a></h3>
                                <ul>
                                    <li><p>Ngày đăng <span>@item.NgayDang.Value.ToString("MMMM"), @item.NgayDang.Value.Day @item.NgayDang.Value.Year</span></p></li>
                                    <li><p>Người đăng <a href="bsingle.html">@item.AdminTable.TenHienThi</a></p></li>
                                    <li><a href="@Url.Action("LocTinCongNgheTheoMaChuDe", "TimKiem", new { machude = item.MaChuDe})"> @item.ChuDeTable.ChuDe</a></li>
                                    <p class="artical-para" style="font-size: 12px">
                                        @item.NoiDung.Substring(0, item.NoiDung.Length > 100 ? 100 : item.NoiDung.Length) ...
                                        <a class="artbtn" href="bsingle.html">Read More</a>
                                    </p>
                                </ul>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    }
                </div>
                <div>
                    <center>
                        @Html.PagedListPager(Model, page => "/TimKiem/" + ViewContext.RouteData.Values["Action"].ToString() + (page == 1 ? ViewBag.searchText : ViewBag.phantrang + page))
                    </center>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            @Html.Action("ChuDeTinCongNghe", "HoTro")
        </div>
    </div>
</div>
<script>
    
</script>