@model IEnumerable<CodeBlog.Models.NguoiDungTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenHienThi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaiKhoan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MatKhau)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnhDaiDien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayTao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHienThi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaiKhoan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatKhau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnhDaiDien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaNguoiDung }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaNguoiDung })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>