@model CodeBlog.Models.CodeTable

@{
    ViewBag.Title = "ChiTietCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="full-navigation6">
                        <div class="container">
                            <div class="full-nav-top-top">


                                <div class="full-navigation-nav1">

                                    <span class="nav-full">
                                        <i class="fa fa-bars"></i>
                                    </span>
                                    <script>
                                                $("span.nav-full").click(function () {
                                                    $("ul.top-nav2").slideToggle("slow", function () {
                                                        // Animation complete.
                                                    });
                                                });
                                    </script>

                                    <ul class="top-nav2 mr-5" style="font-size: 17px">
                                        <li><a class="open" href="#CodeChat"><i class="fa fa-code">&nbsp;</i>CODE CHẤT LƯỢNG<span>10</span></a></li>
                                        <li><a class="open" href="#Website"><i class="far fa-window-restore">&nbsp;</i>CODE WEBSITE<span>10</span></a></li>
                                        <li><a class="open" href="#AppChung"><i class="fab fa-android">&nbsp;</i>APP MOBILE<span>10</span></a></li>
                                        <li><a class="open" href="#AppChung"><i class="fab fa-windows">&nbsp;</i>ỨNG DỤNG<span>10</span></a></li>
                                        <li><a class="open" href="#AppChung"><i class="fa fa-gamepad">&nbsp;</i>GAME<span>10</span></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="background-color: #212f3f">
                <div class="card-body">
                    <div class="row">
                        <script>
                                    var myIndex = 0;
                                    carousel();

                                    function carousel() {
                                        var i;
                                        var x = document.getElementsByClassName("mySlidesqc");
                                        for (i = 0; i < x.length; i++) {
                                            x[i].style.display = "none";
                                        }
                                        myIndex++;
                                        if (myIndex > x.length) { myIndex = 1 }
                                        x[myIndex - 1].style.display = "block";
                                        setTimeout(carousel, 2500); // Change image every 2 seconds
                                    }
                        </script>
                        <!--//-->
                        <form action="@Url.Action("TimKiemTuKhoa", "TimKiemCode")" class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="search" class="form-control border border-dark" style="height: 50px" placeholder="Nhập từ khóa, mã code,..." name="searchText" id="searchCode" />
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control border border-dark" style="height: 50px" name="madanhmuc">
                                        @Html.Action("DanhMucCodeSelect", "TimKiemCode")
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control border border-dark" style="height: 50px;" name="matheloai">
                                        @Html.Action("TheLoaiCodeSelect", "TimKiemCode")
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control border border-dark" style="height: 50px" name="mangonngu">
                                        @Html.Action("NgonNguCodeSelect", "TimKiemCode")
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-danger w-100 font-weight-bold border border-white" style="height: 50px"><i class="fa fa-search">&nbsp;</i>Tìm kiếm</button>
                                </div>
                                <div class="col-sm-12 mt-2">
                                    <span class="text-white">Chia sẻ - trao đổi - buôn bán code chất lượng uy tín.</span>
                                </div>
                            </div>
                        </form>
                        <script>
                                    $(document).ready(function () {
                                        $("#searchCode").autocomplete({
                                            select: function (event, ui) {
                                                $(this).val(ui.item.codeName);
                                                return false;
                                            },
                                            source: function (request, response) {
                                                $.ajax({
                                                    type: "GET",
                                                    url: "/TimKiemCode/TimKiemGoiY",
                                                    data: { searchText: request.term },
                                                    success: function (data) {
                                                        response(data);
                                                    }
                                                });
                                            }
                                        })
                                            .autocomplete('instance')._renderItem = function (ul, item) {
                                                return $('<li>')
                                                    .append('<div class="row"><a href="/ChiTietCode/ChiTietCode?maCode=' + item.maCode + '"><div class="col-lg-3"><img style="width: 100%" src="/Content/images/image_code/anhdaidien/'
                                                        + item.anhMinhHoa + '" alt=' + item.tenCode + '/></div><div class="col-lg-9"><span>'
                                                        + item.tenCode + '</span></div></a></div>')
                                                    .appendTo(ul);
                                            }
                                    });
                        </script>
                        @*<div class="col-sm-3">
                            <center class="mt-5">
                                @if (tenND != null)
                                {
                                    <a href="#" class="btn btn-danger w-50 font-weight-bold"><i class="fas fa-dollar-sign">&nbsp;</i>Nạp xu</a>
                                    <a href="@Url.Action("Create" ,"CodeTables")" class="btn btn-success w-50 font-weight-bold mt-2"><i class="fa fa-file-upload">&nbsp;</i>Tải lên</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("DangNhap" ,"TaiKhoan")" class="btn btn-danger w-50 font-weight-bold"><i class="fas fa-dollar-sign">&nbsp;</i>Nạp xu</a>
                                    <a href="@Url.Action("DangNhap" ,"TaiKhoan")" class="btn btn-success w-50 font-weight-bold mt-2"><i class="fa fa-file-upload">&nbsp;</i>Tải lên</a>
                                }
                            </center>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.TenCode</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-lg-3">
                <img src="~/Content/images/image_code/anhdaidien/@Model.AnhMinhHoa" class="w-100" />
                <center>Xem 3 ảnh</center>
                <!--- tao button bam vao show anh ra-->
                @*@{
                String[] anhxemthem = Model.AnhXemThem.Split(';');
                foreach (var item in anhxemthem)
                {
                    <img src="~/Content/images/image_code/anhxemthem/@item" />
                }
            }*@
            </div>
            <div class="col-lg-6">
                <h2>@Model.TenCode [Mã code: @Model.MaCode]</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-sm-4">
                        <b>Bình luận</b>
                        <b>Đánh giá</b>
                    </div>
                    <div class="col-sm-4">
                        <span><i class="fa fa-download"></i>@Model.LuotTai</span>
                        &nbsp;
                        <span><i class="fa fa-eye"></i>@Model.LuotXem</span>
                        &nbsp;
                        <span><i class="fa fa-heart"></i>@Model.LuotYeuThich</span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-10">
                        <h5 style="font-weight: bold">
                            Phí tải: <b style="color: green">
                                @if (Model.DonGia == 0)
                                {
                                    <span>Miễn phí</span>
                                }
                                else
                                {
                                    <span>@Model.DonGia xu</span>
                                }
                            </b>
                        </h5>
                    </div>
                    <div class="col-sm-2">
                        <a href="#" class="btn btn-danger">Yêu thích</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-9">
                        <ul>
                            <li class="font-weight-bold text-danger">
                                Ngôn ngữ:
                                <span class="ml-4">@Html.Action("LayNgonNguTheoMaCode", "HoTro", new { maCode = Model.MaCode })</span>
                            </li>
                            <li class="font-weight-bold text-danger">
                                Danh mục:
                                <span class="ml-4">Game</span>
                            </li>
                            <li class="font-weight-bold text-danger">
                                Thể loại:
                                <span class="ml-4">Free</span>
                            </li>
                            <li class="font-weight-bold text-danger">
                                Ngày đăng:
                                <span class="ml-4" style="color: black">@Model.NgayDang.Value.Day/@Model.NgayDang.Value.Month/@Model.NgayDang.Value.Year</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="btn btn-danger w-100"><i class="fa fa-download">&nbsp;</i>DOWNLOAD</a>
                        <a href="#" class="btn btn-info w-100 mt-2"><i class="fa fa-desktop">&nbsp;</i>DEMO</a>
                        <a href="#" class="btn btn-success w-100 mt-2"><i class="fa fa-address-book">&nbsp;</i>HƯỚNG DẪN</a>
                    </div>
                </div>
                <hr />

            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-sm-12">
                        <b style="color: brown">Người đăng</b>
                        <br />
                    </div>
                    <div class="col-sm-5">
                        <img src="~/Content/images/default_background/@Model.NguoiDungTable.AnhDaiDien" />
                    </div>
                    <div class="col-sm-7">
                        <h4>@Model.NguoiDungTable.TenHienThi</h4>
                        <hr />
                        <b>Miễn phí: 1</b>
                        <br />
                        <b>Trả phí: 1</b>
                    </div>
                </div>
            </div>
            <div>
                <span>@Model.MoTaNgan</span>
            </div>
            <div>
                @Html.Raw(Model.MoTaChiTiet)
            </div>
            <div>
                @Html.Raw(Model.HuongDanCaiDat)
            </div>
            <div class="col-lg-9 border border-success">
                <h5 class="mt-3">Mô tả ngắn:</h5>
                @Model.MoTaNgan
                <h5 class="mt-3">Ảnh demo:</h5>
                <!--Anh-->
                <h5 class="mt-3">Mô tả chi tiết:</h5>
                @Model.MoTaChiTiet
            </div>
            <div class="col-lg-9 border border-success mt-4">
                <h5 class="mt-3">Hướng dẫn cài đặt:</h5>
                @Model.HuongDanCaiDat
            </div>
        </div>
    </div>