@model CodeBlog.Models.CodeTable

@{
    ViewBag.Title = "ChiTietCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChiTietCode</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="~/Content/images/image_code/anhdaidien/@Model.AnhMinhHoa" />
            <!--- tao button bam vao show anh ra-->
            @{ 
                String[] anhxemthem = Model.AnhXemThem.Split(';');
                foreach(var item in anhxemthem)
                {
                    <img src="~/Content/images/image_code/anhxemthem/@item" />
                }
            }
        </div>
        <div class="col-lg-6">
            <h2>@Model.TenCode</h2>
            <span>@Model.LuotTai</span>
            <span>@Model.LuotXem</span>
            <span>@Model.LuotYeuThich</span>
            <span>@Html.Action("LayNgonNguTheoMaCode", "HoTro", new { maCode = Model.MaCode })</span>
        </div>
        <div class="col-lg-3">
            <img src="~/Content/images/image_nguoidung/@Model.NguoiDungTable.AnhDaiDien" />
            <h3>@Model.NguoiDungTable.TenHienThi</h3>
        </div>
        <div>
            <span>@Model.MoTaNgan</span>
        </div>
        <div>
            @Html.Raw(Model.MoTaChiTiet)
        </div>
        <div>
            @Html.Raw(Model.HuongDanCaiDat)
        </div>
    </div>
</div>