
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpCookie tenND = Request.Cookies["TenND"];
}
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="full-navigation6">
                        <div class="container">
                            <div class="full-nav-top-top">


                                <div class="full-navigation-nav1">

                                    <span class="nav-full">
                                        <i class="fa fa-bars"></i>
                                    </span>
                                    <script>
                                                $("span.nav-full").click(function () {
                                                    $("ul.top-nav2").slideToggle("slow", function () {
                                                        // Animation complete.
                                                    });
                                                });
                                    </script>

                                    <ul class="top-nav2 mr-5" style="font-size: 17px">
                                        <li><a class="open" href="#CodeChat"><i class="fa fa-code">&nbsp;</i>CODE CHẤT LƯỢNG<span>10</span></a></li>
                                        <li><a class="open" href="#Website"><i class="far fa-window-restore">&nbsp;</i>CODE WEBSITE<span>10</span></a></li>
                                        <li><a class="open" href="#AppChung"><i class="fab fa-android">&nbsp;</i>APP MOBILE<span>10</span></a></li>
                                        <li><a class="open" href="#AppChung"><i class="fab fa-windows">&nbsp;</i>ỨNG DỤNG<span>10</span></a></li>
                                        <li><a class="open" href="#AppChung"><i class="fa fa-gamepad">&nbsp;</i>GAME<span>10</span></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="background-color: #212f3f">
                <div class="card-body">
                    <div class="row">
                        <script>
                                    var myIndex = 0;
                                    carousel();

                                    function carousel() {
                                        var i;
                                        var x = document.getElementsByClassName("mySlidesqc");
                                        for (i = 0; i < x.length; i++) {
                                            x[i].style.display = "none";
                                        }
                                        myIndex++;
                                        if (myIndex > x.length) { myIndex = 1 }
                                        x[myIndex - 1].style.display = "block";
                                        setTimeout(carousel, 2500); // Change image every 2 seconds
                                    }
                        </script>
                        <!--//-->
                        <form action="@Url.Action("TimKiemTuKhoa", "TimKiemCode")" class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="search" class="form-control border border-dark" style="height: 50px" placeholder="Nhập từ khóa, mã code,..." name="searchText" id="searchCode" />
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control border border-dark" style="height: 50px" name="madanhmuc">
                                        @Html.Action("DanhMucCodeSelect", "TimKiemCode")
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control border border-dark" style="height: 50px;" name="matheloai">
                                        @Html.Action("TheLoaiCodeSelect", "TimKiemCode")
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control border border-dark" style="height: 50px" name="mangonngu">
                                        @Html.Action("NgonNguCodeSelect", "TimKiemCode")
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-danger w-100 font-weight-bold border border-white" style="height: 50px"><i class="fa fa-search">&nbsp;</i>Tìm kiếm</button>
                                </div>
                                <div class="col-sm-12 mt-2">
                                    <span class="text-white">Chia sẻ - trao đổi - buôn bán code chất lượng uy tín.</span>
                                </div>
                            </div>
                        </form>
                        <script>
                                    $(document).ready(function () {
                                        $("#searchCode").autocomplete({
                                            select: function (event, ui) {
                                                $(this).val(ui.item.codeName);
                                                return false;
                                            },
                                            source: function (request, response) {
                                                $.ajax({
                                                    type: "GET",
                                                    url: "/TimKiemCode/TimKiemGoiY",
                                                    data: { searchText: request.term },
                                                    success: function (data) {
                                                        response(data);
                                                    }
                                                });
                                            }
                                        })
                                            .autocomplete('instance')._renderItem = function (ul, item) {
                                                return $('<li>')
                                                    .append('<div class="row"><a href="/ChiTietCode/ChiTietCode?maCode=' + item.maCode + '"><div class="col-lg-3"><img style="width: 100%" src="/Content/images/image_code/anhdaidien/'
                                                        + item.anhMinhHoa + '" alt=' + item.tenCode + '/></div><div class="col-lg-9"><span>'
                                                        + item.tenCode + '</span></div></a></div>')
                                                    .appendTo(ul);
                                            }
                                    });
                        </script>
                        @*<div class="col-sm-3">
                            <center class="mt-5">
                                @if (tenND != null)
                                {
                                    <a href="#" class="btn btn-danger w-50 font-weight-bold"><i class="fas fa-dollar-sign">&nbsp;</i>Nạp xu</a>
                                    <a href="@Url.Action("Create" ,"CodeTables")" class="btn btn-success w-50 font-weight-bold mt-2"><i class="fa fa-file-upload">&nbsp;</i>Tải lên</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("DangNhap" ,"TaiKhoan")" class="btn btn-danger w-50 font-weight-bold"><i class="fas fa-dollar-sign">&nbsp;</i>Nạp xu</a>
                                    <a href="@Url.Action("DangNhap" ,"TaiKhoan")" class="btn btn-success w-50 font-weight-bold mt-2"><i class="fa fa-file-upload">&nbsp;</i>Tải lên</a>
                                }
                            </center>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
<center>
    <div class="row container" style="max-width:1300px">
        <div class="col-sm-12 mt-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/Content/images/QuangCao/viec-lam-tu-xa.jpg" alt="First slide" style="height: 200px">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/images/QuangCao/qc1.jpg" alt="Second slide" style="height: 200px">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/images/QuangCao/viec-lam-tu-xa.jpg" alt="Third slide" style="height: 200px">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="row mt-3">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Code mới nhất</h5>
                            <div class="card" style="font-size: 15px;">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active" style="background-color: forestgreen; font-weight: bold; font-size: 20px">
                                        <div class="float-left">Thể loại</div>
                                        <div class="float-right"><i class="fa fa-align-justify"></i></div>
                                    </a>
                                    @Html.Action("TheLoaiCode", "HoTro")
                                    <a href="#" class="list-group-item btn btn-danger" style="background-color: #dc3545">Xem tất cả</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card" style="height: 100%">
                        <div class="card-body">
                            <div class="alert alert-danger">
                                <marquee>
                                    <span style="color: green">Tấn huỳnh: </span>vừa giao dịch 20 xu&nbsp;&nbsp;
                                    <span style="color: green">Tấn huỳnh: </span>vừa giao dịch 20 xu&nbsp;&nbsp;
                                    <span style="color: green">Tấn huỳnh: </span>vừa giao dịch 20 xu&nbsp;&nbsp;
                                    <span style="color: green">Tấn huỳnh: </span>vừa giao dịch 20 xu&nbsp;&nbsp;
                                    <span style="color: green">Tấn huỳnh: </span>vừa giao dịch 20 xu&nbsp;&nbsp;
                                </marquee>
                            </div>
                            <h5 class="card-title font-weight-bold">
                                Code chất lượng
                                <img src="~/Content/Layout/images/ic_hot.gif" />
                            </h5>
                            <div class="row">
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                                <div class="col-sm-3 mt-3">
                                    <img src="~/Content/images/image_code/anhdaidien/demo_code.jpg" class="card-img-top" style="border-radius: 5px 5px 0px 0px;" />
                                    <div style="background-color: #f75940; height: 30px; width: 100%; border-radius: 0px 0px 5px 5px;">
                                        <div class="font-weight-bold">
                                            <div class="text-white float-left ml-4 mt-1"><i class="fa fa-eye">&nbsp;</i>0</div>
                                            <div class="text-white float-md-left ml-4 mt-1" style="padding-left: 7%"><i class="fa fa-heart">&nbsp;</i>0</div>
                                            <div class="text-white float-right mr-4 mt-1"><i class="fa fa-download">&nbsp;</i>0</div>
                                        </div>
                                    </div>
                                    <h5 class="card-title mt-2">aaa [1]</h5>
                                    <p class="card-text font-weight-bold" style="color: green">
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                        <b style="color: orangered"><i class="fa fa-star"></i></b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</center>


<section class="w3l-content-6">
    <!-- /content-6-section -->
    <div class="content-6-mian py-5">
        <div class="container py-lg-3">
            <h3 class="hny-title text-center">
                Code phong phú + chất lượng + Thanh toán nhanh + Hỗ trợ 24/24
            </h3>
            <div class="content-info-in row mt-lg-5 mt-4">
                <div class="content-gd col-md-4 text-lg-right">
                    <h4><span>0</span> Code đã giao dịch thành công</h4>
                </div>
                <div class="content-gd col-md-4" data-aos="zoom-in">
                    <img src="/Content/Layout/images/1.png" class="img-fluid" alt="">
                </div>
                <div class="content-gd col-md-4">
                    <h4><span>0</span>Code đã được tải về</h4>
                </div>

            </div>

        </div>
    </div>
</section>