
@{
    Layout = null;
    HttpCookie tenND = Request.Cookies["TenND"];
}
@if (ViewBag.mess == "load")
{
    <script>
        $(document).ready(function () {
            window.location.load();
        })
    </script>
    ViewBag.mess = "";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/fave-icon.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('div.description').each(function () {
                $(this).css('display', 'block');
            });

            $('div.content-top-grid').hover(function () {
                $(this).children('.description').stop().fadeTo(500, 1);
            }, function () {
                $(this).children('.description').stop().fadeTo(500, 0);
            });

        });
    </script>
</head>
<body>
    <style>
        .dr_taikhoan ul {
            padding: 0;
            width: 95%;
        }

            .dr_taikhoan ul li {
                width: 100%;
                padding: 0.5em 1em;
            }

                .dr_taikhoan ul li a {
                    margin: 0;
                    padding: 0;
                    padding-left: 10px;
                    width: 100%;
                }

                    .dr_taikhoan ul li a:hover {
                        background: none;
                    }

        .panel-body {
            padding: 0px;
        }

            .panel-body a {
                text-decoration: none;
                color: black;
            }

                .panel-body a:hover {
                    color: #84c52c;
                }

        a.active {
            color: #84c52c;
        }
    </style>
    <!---start-wrap---->
    <div class="wrap">
        <!---strat-header---->
        <div class="header">
            <div class="logo">
                <a href="/Home/Index"> </a>
            </div>
            <div class="top-nav">
                <ul>
                    <li class="active"><a href="/Home/Index"> <span> </span></a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() != "TatCaCode" ? "active" : "")"><a class="" href="@Url.Action("TatCaCode", "TimKiem")">Code</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() != "TatCaTinCongNghe" ? "active" : "")"><a href="@Url.Action("TatCaTinCongNghe", "TimKiem")">Tin công nghệ</a></li>
                    <li><a href="icons.html">Nạp xu</a></li>
                    @if (tenND != null)
                    {
                        <li style="text-align: center">
                            <div class="dropdown dr_taikhoan">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@tenND.Value.ToString()<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="fa fa-code">&nbsp;</i>Code của tôi</a></li>
                                    <li><a href="#"><i class="fa fa-blog">&nbsp;</i>Blog của tôi</a></li>
                                    <li><a href="#"><i class="fa fa-user-cog">&nbsp;</i>Trang cá nhân</a></li>
                                    <li><a style="border-top: 1px solid black"></a></li>
                                    <li><a href="@Url.Action("DangXuat", "TaiKhoan")"><i class="fa fa-sign-out-alt">&nbsp;</i>Đăng xuất</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        if (ViewContext.RouteData.Values["Controller"].ToString() != "Home")
                        {
                            <li><a href="@Url.Action("DangNhap", "TaiKhoan")">Đăng nhập</a></li>
                        }
                    }
                    <li><a data-toggle="collapse" data-target="#search"><i class="fa fa-search"></i></a></li>
                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="clear"> </div>
            <div class="">
                <div class="collapse" id="search">
                    <div class="bg-dark p-4">
                        <input type="search" class="form-control" placeholder="Nhập từ khóa..." name="searchText" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---//End-header---->
    <!---start-slider---->
    @RenderBody();
    <!---//End-slider---->
    <div class="text-monials">
        <div class="wrap">
            <ul>
                <li><i class="fa fa-quote-left"></i></li>
                <li><p>Cho người ta một phần mềm họ sẽ bực mình một ngày. Dạy người ta lập trình họ sẽ bực mình cả đời!</p> </li>
                <li><i class="fa fa-quote-right"></i></li>
                <div class="clear"> </div>
            </ul>
        </div>
    </div>
    <!---//End-test-monial---->
    <!---start-articls---->
    @Html.Action("TinCongNghe", "Home")
    <!---//End-articls---->
    <div class="bottom-grids">
        <div class="wrap">
            <div class="bottom-grid-left">
                <h3>Visit Our Shop</h3>
                <div class="bottom-grid-left-grid">
                    <div class="bottom-grid-left-grid-left">
                        <a href="#"><img src="images/bottom-pic.png" alt="" /></a>
                    </div>
                    <div class="bottom-grid-left-grid-right">
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam et dolore magna aliqua.</p>
                        <a class="letbtn" href="#">Lets shop</a>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="bottom-grid-right">
                <h3>Latest tweets</h3>
                <div class="bottom-grid-right-grid">
                    <div class="bottom-grid-right-grid-left">

                    </div>
                    <div class="bottom-grid-right-grid-right">
                        <p><span>Eiusmod:</span>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <span><a href="#">#incididunt</a></span>
                        <label><a href="#">8 mins ago</a></label>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
                <div class="bottom-grid-right-grid">
                    <div class="bottom-grid-right-grid-left">

                    </div>
                    <div class="bottom-grid-right-grid-right">
                        <p><span>Eiusmod:</span>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <span><a href="#">#incididunt</a></span>
                        <label><a href="#">2 days ago</a></label>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <!---//End-content---->
    <!---start-footer---->
    <div class="footer">
        <div class="wrap">
            <div class="footer-left">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Archive</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="footer-center">
                <ul>
                    <li><a href="#"><span> </span></a></li>
                    <li><a href="#"><span> </span></a></li>
                    <li><a href="#"><span> </span></a></li>
                    <li><a href="#"><span> </span></a></li>
                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="footer-right">
                <p>Copyright &#169; 2013 Designer First. All Rights Reserved. Template By  <a href="http://w3layouts.com/">W3Layouts</a></p>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <!---//End-footer---->
    <!---//End-wrap---->
    <script>
        // search ajax keuy
        $("#timkiem_tincongnghe").keyup(function () {
            var searchText = $(this).val();
            var newUrl = "TatCaTinCongNghe";
            document.title = "Tât cả tin công nghệ";
            if (searchText != "") {
                newUrl = "TimKiemTuKhoaTinTuc?searchText=" + searchText;
                document.title = "Tìm kiếm từ khóa: " + searchText;
            }
            title_tin_cong_nghe.innerText = document.title;
            debugger
            $.ajax({
                type: "Post",
                url: "/TimKiem/TimKiemTuKhoa_TinCongNghe?searchText=" + searchText,
                contentType: "html",
                success: function (response) {
                    $("#search_newsTechnology").html(response);
                    window.history.pushState("ShareCode", "Tin công nghệ", "/TimKiem/" + newUrl);
                }
            });
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/HoTro/demSoLuongKq_TinCongNghe?searchText=" + searchText,
                success: function (data) {
                    kq_tin_cong_nghe.innerText = "Kết quả tìm được: " + data;
                }
            });
        })
    </script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

