@model CodeBlog.Models.BlogTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BlogTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenBlog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBlog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhMinhHoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhMinhHoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDungTable.TenHienThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDungTable.TenHienThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheLoaiTable.TheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoaiTable.TheLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaBlog }) |
    @Html.ActionLink("Back to List", "Index")
</p>
