@model IEnumerable<CodeBlog.Models.BlogTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenBlog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhMinhHoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDungTable.TenHienThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheLoaiTable.TheLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenBlog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnhMinhHoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDungTable.TenHienThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoaiTable.TheLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBlog }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBlog }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBlog })
        </td>
    </tr>
}

</table>
