@{ 
    string collap = " ";
    if(Session["action"] != null)
    {
        collap = (string)Session["action"];
    }
}

<div class="panel-group" id="accordion">
    <a href="@Url.Action("TatCaCode", "TimKiem")" style="text-decoration: none; text-align: center;text-transform: uppercase">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title hot_code">
                    tất cả
                </h4>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration: none; text-align: center;text-transform: uppercase">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" style="color: red">
                    hot
                </h4>
            </div>
        </div>
    </a>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse_danhmuc">
                <a style="text-decoration: none">
                    Danh mục
                </a>
                <span style="float: right">
                    <i class="fa fa-chevron-circle-down"></i>
                </span>
            </h4>
        </div>
        <div id="collapse_danhmuc" class="panel-collapse collapse @(collap == "LocCodeTheoMaTheLoai" || collap  == "LocCodeTheoMaNgonNgu" ? "" : "in")">
            <div class="panel-body">
                @Html.Action("DanhMucCode", "HoTro")
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse_theloai">
                <a style="text-decoration: none">
                    Thể loại
                </a>
                <span style="float: right">
                    <i class="fa fa-chevron-circle-down"></i>
                </span>
            </h4>
        </div>
        <div id="collapse_theloai" class="panel-collapse collapse @(collap == "LocCodeTheoMaTheLoai" ? "in" : "")">
            <div class="panel-body">
                @Html.Action("TheLoaiCode", "HoTro")
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse_ngonngu">
                <a style="text-decoration: none">
                    Ngôn ngữ
                </a>
                <span style="float: right">
                    <i class="fa fa-chevron-circle-down"></i>
                </span>
            </h4>
        </div>
        <div id="collapse_ngonngu" class="panel-collapse collapse @(collap == "LocCodeTheoMaNgonNgu" ? "in" : "")">
            <div class="panel-body">
                @Html.Action("NgonNguCode", "HoTro")
            </div>
        </div>
    </div>
</div>

@Html.Action("HotCode", "HoTro")